<div>
  <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
    <tr>
      <th>ID</th>
      <th>Код ответа</th>
      <th>h1</th>
      <th>title</th>
      <th>description</th>
      <th>Дата создания</th>
    </tr>
    </thead>
    <tbody>
    {% for check in url_checks %}
      <tr>
        <td>{{ check.id }}</td>
        <td>{{ check.status_code }}</td>
        <td>{{ check.h1 if  check.h1 else '' }}</td>
        <td>{{ check.title if  check.title else '' }} </td>
        <td>{{ check.description if  check.description else '' }}</td>
        <td>{{ check.created_at }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>